In [71]:
import os
from pathlib import Path 
import pandas as pd
import numpy as np
pad = Path(os.getcwd())
if pad.name != "Python":
    pad_correct = Path("../../Python")
    os.chdir(pad_correct)
from functions.pre_processing import make_pd_unique_timesteps
import datetime

In [72]:
timeseries = pd.DataFrame({'Timestamp':pd.date_range(
    datetime.datetime(2021,12,12,1), datetime.datetime(2021,12,12,3), freq = '0.25H')})#type:ignore

In [73]:
timeseries

            Timestamp
0 2021-12-12 01:00:00
1 2021-12-12 01:15:00
2 2021-12-12 01:30:00
3 2021-12-12 01:45:00
4 2021-12-12 02:00:00
5 2021-12-12 02:15:00
6 2021-12-12 02:30:00
7 2021-12-12 02:45:00
8 2021-12-12 03:00:00

In [74]:
timeseries['values'] = np.random.rand((len(timeseries)))

In [75]:
timeseries

            Timestamp    values
0 2021-12-12 01:00:00  0.583816
1 2021-12-12 01:15:00  0.647966
2 2021-12-12 01:30:00  0.779987
3 2021-12-12 01:45:00  0.053757
4 2021-12-12 02:00:00  0.077430
5 2021-12-12 02:15:00  0.631348
6 2021-12-12 02:30:00  0.573481
7 2021-12-12 02:45:00  0.975627
8 2021-12-12 03:00:00  0.788323

In [76]:
timeseries.loc[3,'values'] = np.nan
timeseries

            Timestamp    values
0 2021-12-12 01:00:00  0.583816
1 2021-12-12 01:15:00  0.647966
2 2021-12-12 01:30:00  0.779987
3 2021-12-12 01:45:00       NaN
4 2021-12-12 02:00:00  0.077430
5 2021-12-12 02:15:00  0.631348
6 2021-12-12 02:30:00  0.573481
7 2021-12-12 02:45:00  0.975627
8 2021-12-12 03:00:00  0.788323

In [63]:
timeseries.set_index('Timestamp').resample('1H').apply(np.sum)

                     values
Timestamp
2021-12-12 01:00:00     0.0
2021-12-12 02:00:00     0.0
2021-12-12 03:00:00     0.0

In [64]:
timeseries.set_index('Timestamp').resample('1H').agg(pd.DataFrame.sum, skipna=False)

                     values
Timestamp
2021-12-12 01:00:00     NaN
2021-12-12 02:00:00     NaN
2021-12-12 03:00:00     NaN

In [61]:
timeseries.set_index('Timestamp').resample('1H').sum()

                     values
Timestamp
2021-12-12 01:00:00     0.0
2021-12-12 02:00:00     0.0
2021-12-12 03:00:00     0.0

In [62]:
timeseries.set_index('Timestamp').resample('1H').agg(pd.DataFrame.sum, skipna=False)

                     values
Timestamp
2021-12-12 01:00:00     NaN
2021-12-12 02:00:00     NaN
2021-12-12 03:00:00     NaN

In [51]:
timeseries.loc[np.isnan(timeseries['values']),'values'] = 0